manifest {
    name            = 'LaundryFlow'
    author          = 'Erin Young'
    homePage        = 'github.com/erinyoung/LaundryFlow'
    description     = 'Conceptualizing nextflow.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '0.0.1'
}

profiles {
    conda {
        params.enable_conda    = true
        docker.enabled         = false
    }
    docker {
        docker.enabled         = true
    }
}